* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: initial;
  letter-spacing: initial;
  color: #212121;
  line-height: 16px;
  font-size: 14px;
  background: #fff;
  -webkit-overflow-scrolling: touch;
}

a {
  color: #2979FF;
}

a:hover, a:focus, a:active {
  outline: none;
  text-decoration: none;
}

p {
  white-space: normal;
}

b, strong {
  font-weight: 600;
}

label {
  font-weight: 500;
  display: block;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
}